.estilo_div {
  background: #0B4489;
  height: 550px;
  overflow-y: scroll;
  width: 850px;
  position: relative;
  left: -70px;
}

.estilo_pantalla {
  background: #000000;
  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 600px;
  font-size: 22px;
  color: #03D9DC;
  text-align: center;
}

.div_titulo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: #000;
}

.p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%
  }
}

.body {
  background: #4E5151;
}

.label_depurar {
  font-size: 22px;
  color: #fff;
}

.label_depurar {
  font-size: 22px;
  color: #fff;
}

.div_depurar {}

.label_texto_pantalla {
  font-size: 35px;
  color: #fff;
  text-align: center;
}

.label_secciones {
  font-size: 25px;
  font-weight: bold;
}

.btn.iniciar {
  margin-right: auto;
  margin-left: auto;
}

.error_login {
  border: 2px solid red;
}